<div>
    <h1>I exist</h1>
    <% resources.forEach(function(resource){ %>
        <div> 
            <ul>
                <li><img src="<%= resource.imageURL %>"></li>
                <li><%= resource.siteURL %></li>
                <li><%= resource.name %></li>
                <li><%= resource.description %></li>
                <li><%= resource.tags %></li>
            </ul>
        </div>
    <% }); %>
</div>